<div class="bg-container">
    <div class="first">
        <div class="first__item">
            <h1>EDUCATION</h1>
            <p>
                <span>2015 – July 2018:</span> National Engineering School of Sousse (ENISO) - Tunisia</p>
            <p>
                <span>Major:</span> Industrial Electronics,
                <span>Minor:</span> Industrial Automatisation</p>
            <p>
                <span>Diploma :</span> Idustrial Electronics Engineer</p>
        </div>

        <div class="first__item">
            <h1>CERTIFICATIONS</h1>
            <span>FREECODECAMP</span>
            <p>Responsive web design certification -
                <span>Dec 2018</span>
            </p>
            <p> JavaScript Algorithms and Data structure Certification -
                <span>Dec 2018</span>
            </p>
            <p>FrontEnd Libraries Certification -
                <span>Jan 2019 </span>
            </p>
        </div>


        <div class="first__item">
            <h1>PROFESSIONAL EXPERIENCES</h1>
            <p>
                <span>september 2018 - present :</span>Company “Cinq-E technologies” - Tunisia</p>
            <p>Front-End Developer</p>
            <p>Develop and maintain the company E-Learning platform using Angular.</p>
            <p>Design, prototype and develop static websites for the company and for B2B projects. </p>
            <span>key words : HTML5, CSS3, JavaScript, Jquery, TypeScript, Angular6.0, Node.js, Docker</span>
        </div>


    </div>
    <div class="second">
        <div class="second__skills">
            <div class="second__item ">
                <h1>TECHNOLOGIES</h1>
                <span>Day-To-Day Comfort</span>
                <ul>
                    <li>HTML5 / CSS3</li>
                    <li>SASS</li>
                    <li>Angular Material</li>
                    <li>Responsive Layout</li>
                    <li>Mobile First Concept</li>
                    <li>Adobe XD / Adobe Illustrator</li>
                    <li>JavaScript / TypeScript</li>
                    <li>Jquery</li>
                    <li>Angular</li>
                    <li>Version Control (GIT)</li>
                    <li>Docker</li>
                    <li>Agile Methodology</li>
                </ul>
            </div>


            <div class="second__item second__skills__famaliarity">
                <span>Familiarity with</span>
                <ul>
                    <li>Wordpress</li>
                    <li>Gulp / Grunt</li>
                    <li>Webpack</li>
                    <li>Figma</li>
                    <li>SEO principles</li>
                    <li>Testing</li>
                    <li>Test Driven Programming</li>
                    <li>Reactjs</li>
                    <li>Threejs</li>
                    <li>REST API</li>
                    <li>Nodejs</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                </ul>
            </div>
        </div>
        <div class="block__bottom__right">
            <div class="second__languages">
                <h1>HUMAN LANGUAGES</h1>
                <p>
                    <span>English:</span>Level B2 (TOEIC certified)</p>
                <p>
                    <span>Français :</span> Intermediate level</p>
                <p>
                    <span>Arabic:</span>Native language</p>

            </div>
            <div class="block__bottom__right__interests">
                <h1>INTERESTS</h1>
                <p>Videography (professional experience).</p>
                <p>Exprimental Dance (professional experience).</p>
                <p>BeatBoxing.</p>
                <a class="btn" href=".\src\assets\pdf\chiheb bouzid cv.pdf" download="Chiheb Bouzid Resume">
                    Download Resume PDF
                </a>
            </div>
        </div>

    </div>
</div>