<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<button class="cn-button " id="cn-button" (click)="onOpenNav()" #navButton>
  {{ btnIcon }}
</button>
<div [ngClass]="wrapperClasses" id="cn-wrapper">
  <ul>
    <li>
      <a routerLink="/Portfolio">
        <mat-icon>developer_board</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/Resume">
        <div style="font-size: 20px">
          <mat-icon>work</mat-icon>
          <!-- <p>Resume</p> -->
          <!-- <span class="icon-th-large"></span> -->
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/Home">
        <div style="font-size: 20px">
          <mat-icon>home</mat-icon>
          <!-- <p>Home</p> -->
          <!-- <span class="icon-home"></span> -->
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/About">
        <div style="font-size: 20px">
          <mat-icon>account_circle</mat-icon>
          <!-- <p>About</p> -->
          <!-- <span class="icon-user"></span> -->
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/Contact">
        <mat-icon>email</mat-icon>
      </a>
    </li>
  </ul>
</div>
<div id="cn-overlay" [ngClass]="overlayClasses"></div>