<div class="container">
    <div class="container__cards">
        <mat-card class="card">

            <img class="card__img" src="https://lh3.googleusercontent.com/NFBjpeAaVkbEpb2xDI9Mx-5f6TgDn3t5wq1wOEzWeql843ewtQU7sUGfTfzaNugzNkFXIwkUr-7fjXYalheep2P4ozMF7v2kAFa8s_1hOA9Q3esuF33B38rLTPSlKdeGT3de7jgyhj19xSJoc1QfskBrKlUKeto9XPmWM4x8gDR5k28qpvJeRm_vdacXhq_czWExBg2dHP_ZVd9EeNQtN_CenWcwYV2mrXnNnuSNCKyJs3JpDH2SkQXvabqjvJuJRVuHx0qNzn9mvMTBu7H1tO74wIUQNGuQzV7mydrgtO8fqw5icMvdCg02MDbCbQlXIAXrJDfYqx2AubUwZQ1gZp-EFDe75VOTf_TX77CPjoDcicdjzShntj_qKFY_17xwWWfVSGnosuDpCnbXUxsvpfSHhnQplbUvQd5YdTyX1TXncY9ggTu3Ie6ydjPpI7CLQ09pMumCeNR9VHPS6TJ7JOP_IG68g8lvgGW2NeXoC-mbsEDZxEmmfMEGYIxbM6z6srELt6iPRcFzBMX6z5yghKg-JVAxXNfqWZSvp9uYvDj9NWVxDV5JPybDjlNRCiOquEeKmZN1MMoEPudwYSCUSxUntv3PhedTJaWMKzLe8jqdVtb6fCGbW36o44K_hr7HHSsESRJ2v4GdVViMiVDH3LurHnji_PM=w1903-h969-no"
                alt="">

            <div class="card__discription">
                <h1>CinqE Technologies</h1>
                <p>Home page of the startup "CinqE". This project this build using Nodejs without any css framework.
                </p>
                <p class="card__discription__keywords">Design, Prototype and developement Nodejs, Docker, SASS, Gulp</p>
                <div class="card__btn">
                    <a class="btn" href="https://github.com/chihebouzid/Cinqe-landing" target="blank">
                        View On Github
                    </a>

                    <a class="btn" href="http://www.cinq-e.com:8080/">
                        Go To Site
                    </a>
                </div>
            </div>
        </mat-card>
        <mat-card class="card">
            <img class="card__img" src="https://lh3.googleusercontent.com/CE_JzznLPuR8WuoI3q1QM6Fr1KM_8_PC6YunmOHJHDtZiL12GKzPsL8KKOShu8IBdlaWFc2Xe_xCnsPFfyEIKErHGSU24zAVPdTOCFcbQBWvys_U7up7_0Wn5BbU49CD93PsbbBUR0QueJABcYJ-YQaWJDpouPJk2mO6JGANUBUMCvLDKWLQ6Kj4x6AStxs-NqXVNW6btNgosQpwn3dzCWXv65HCiZmUjelEjrmeeMzKgFwn2nZUMu1QUJ80hmhEZUsyaIUGuA5iLLHeYfl4g7n2NavwnerppW0e44mxOS3_LmEahKYfsnmL5BQ9Qq5VP6oiA3CK3eGvrnh08BZGNlIX2sHvg-M76QVioPjEfLl4wOFO5VByP9bjDqQYLhBa5lnkMtGjpNBb7j98nv_0OlJnhFwH4IM4oYZTmAlj3D6fWuWRsRDXWICC9hWqFK1diq1ou4QOUq7He-NcEl-O8BqN0y9h_S2HM6IMWchdOI_bTKH0DwbEmIRQuBlX4sYeRgI-e41DDUAr4hvfpKIXtbP-irY6Gox17X2MyYCcRI_jrIPxbcooeITW6B0GPq08wt95IDNc_4DvLcr3jPZSWHL_XubIgPhPisQotPgRPNC88q75VgYu5oscbZqtSzYk5AL2tNHpTEZHvviEwo401jYX2-eqJ88=w1902-h969-no"
                alt="">
            <div class="card__discription">
                <h1>Expert Prepa</h1>
                <p>E-learning platform for engineering students. This project still in dev actually but ou can check the work
                    in progress.
                </p>
                <p class="card__discription__keywords">Developement, Nodejs, Angular, Material Design </p>
                <div class="card__btn">
                    <a class="btn" href="">
                        Private
                    </a>

                    <a class="btn" href="http://dev.expert-prepa.com:4563/landing" target="blank">
                        Go To Site
                    </a>
                </div>
            </div>
        </mat-card>
        <mat-card class="card">
            <img class="card__img" src="https://lh3.googleusercontent.com/KFNQVpYlYlC7Hy1YlD07MaTqaKUlW_9uUb2ivksScXjWlIOPsCeavnruaAetGpesgyguYm4mO2Lfnm29CtCJcbsNsJgNJW-fuuKb2t14WoTP822Lr_6LSRaCRcUGoSDfbYcXxbrgtHwuVOi1FxUnBIi1MAVXvLQ8ufKLfAux0CbXuJMWZVUL688n8TJ6NKGgjmyj_ZD9IBJSkME01kYyFcHT2lw89nzUkkreKiEZCuJzu6Kr9JXbY5jNXMg3SJ3GTOqndEzOep6X7Xdx6agHswdUzV52RLzAtb1JQ8tH-U-ZiZmbHiZe9H7NepC3EDS_K3Q7jZ6jljlRZaeqjPyfxdlXMocaHhDSNOQJOLxCva6juaKdNgl1bXhKxxVz1tSsZdQwdKEYBgqV0plVQ04jTe2sayTF6Jz5JHnuR7fYjub2ljsdgw1DupGBagHt6LMpHqEGktfRU_80C8x0QtdMLpQlX4VZMY-4qV1zQk7zDCwTmOlvyxlpJfa0bSIunH5DWpQ-Qvlj4LagsHY5Jg8AYZNpk11F6yp1UoRL1N35yg2k7yCr2gqsfC7T2czGOB9ptEI7WTB-eZ2UAaovrV2UDMax7xzE9Gbthj0tLreNVXubUgvsDNiPOAZfsOrwYmRtflzWU_TYYxeVBRdBm1fZ0qMDqQwUtCc=w1910-h969-no"
                alt="">
            <div class="card__discription">
                <h1>Yummiz</h1>
                <p>Online recipes book with the CRUD concept. This is a Udemy project that i did to practice angular.
                </p>
                <p class="card__discription__keywords">Development, Angular, Bootstarp, Firebase, Udemy</p>
                <div class="card__btn">
                    <a class="btn" href="https://github.com/chihebouzid/Yummiz">
                        View On Github
                    </a>

                    <a class="btn" href="">
                        Go To Site
                    </a>
                </div>
            </div>
        </mat-card>
        <mat-card class="card">
            <img class="card__img" src="https://lh3.googleusercontent.com/c1tU97sX5oFNP93k7XmxeRQRRfeyrx9g9CszIPJoeJhzeaYZ7UFkoHhlpCCLpEtwhpFzWL3E1L5ItSjl2XNzVhTQNRySYMS8nlRvwVAw5o7A-414CD3puZWzVPWminTmYHl3Qdc1NnPUaNUXB7AMm0juFBpDVdp0MjodfhzS98_aNxlubgO5iJBmTfNoBsxbXaX0HfVDHra4onPE9Lr9J1_B3qsxIhOnBUEgvgTW_5gKINzRzO_kWAroQMIQ5WXyDYol16yxHqMYzEOcBNDVevPCU1WnhT3nl8DKeviNjqwEX0KJGOSjPJsfuTbLnkP7HIF6H3Trycllq4GjBsZ1rNuB6CwNi-8GGQQ71GWCOOv-d_V2xp-xPVDv97YYCFor7ZPeVeQZR6DR-RnP0OQrouBU9psTSZ_WSv4zEuzvLP_vP-pVXS0hI9QxVTYZ-u1uHqP5YnHO5YsCNtP6pgNPZOmC1f7R_B13EQyylYaCHiCAs5bq7fl7zmNQkUazVUgkkn77t9BmegmkWamoHKy16vNbotTR-qhBq1emcQsEVkUg1WirSnHBrozdCLKgWxF8MK5zOY9s4oCOqwhZJRYb-Jn67X8XLpVWWgY7PC1MLF6brLWkX9PI-l4SkhqV4wBS0Cc_9n7r1Y4FsHXY1KKGkPA4tzAG7Ro=w1920-h969-no"
                alt="">
            <div class="card__discription">
                <h1>Personal Site</h1>
                <p>Yep, this is the site you are on right now, this was built using angular and the route transition was the
                    tricky part.
                </p>
                <p class="card__discription__keywords">Design, prototype and development, Angular, Circular Nav</p>
                <div class="card__btn">
                    <a class="btn" href="https://github.com/chihebouzid/My-Portfolio" target="blank">
                        View On Github
                    </a>

                    <a class="btn" href="">
                        Go To Site
                    </a>
                </div>
            </div>
        </mat-card>
    </div>
</div>