<div class="container">
  <mat-card class="mat-elevation-z16 about-card">
    <section id="about" class="about-content">
      <img mat-card-lg-image src="https://lh3.googleusercontent.com/U3CC_IR1VcWjnIReLC2druOnHRs-cVi8f7p8xHPvuHANuY925hUsyAtRujzLgHK12_2kahgAQ5xOC-_BVoUCK9-_tEmZmvI3AH_R0Z-Dy9onNSY4rzirvKLg14o1m7AzP48lSAW3bbpOXbJvVUt5ZRil5S8L-8BkD42F38vWPEw9hsGCHnGuPxqI5lVk-I57WWq3RzfRM-VrgDCRd6j7lNCh7evrcOZD0et_GVoj_nLlXdTh4-5HFLpF3QJDVU305fbAEvkhis57JxDQdDl2m65UqfLAWbWXffDjmT6dwQOhcjOkuUdfvI-CMtLa0XQlStlFLf0QS5AoBIgHBGWyZYMV8leXf5cNMCQA6iye6dxxd1VoL6y7GgHM7oHUR0-i1otBOzUzbeRiQHIPdvppMwQiFAmVQPvrL2A0vOM3qqAuwcxmEG0m2E0rYdieuYVBucUKifCJWTTKHnj-_l7LrEmvy3y9BuTP1I0DFAB-SgvalXm8bF-w4TTDlYQ_HexKW1TlMmhaV2MPE0kHTbO6utBK-pAvs1Fr8JcP34Q3hMQLZ5LOlq8BB7_5KVTY0JU1WkydKLQPhpWN8DoOLBcisQ-KBZ9pL2PxnW6TeDEncMpue5yQ0DRkLma4hIiOtzBOnrRXagq7wFMFIrWbSJOx-q8ApT6B_vE=w895-h969-no"
        alt="Photo of chiheb bouzid" class="about-img mat-elevation-z8">

      <mat-card-content class="mat-card-content">
        <div class="text-box">
          <h2>Summary</h2>
          <p class="p-style">
            Empathetic Front-End Developer with experience in both web development and web design, exceptional flexibility as well as
            a keen desire to improve and develop new skills. Excellent attention to detail and a high level of accuracy regarding
            quality and presentation of work.
          </p>
        </div>
      </mat-card-content>
      <div class="video-box">
        <div class="myStory aboutBox">
          <button mat-raised-button class="btn" (click)="openVideoDialog()">My Story</button>
        </div>
        <hr>
        <div class="myPersonality aboutBox">
          <button mat-raised-button class="btn" (click)="openPersonalityDialog()">My Personality</button>
        </div>
      </div>
    </section>
  </mat-card>
  <div class="about-header">
    <div class="vr-line"></div>
    <div class="about-header-wrapper">
      <h1 class="about-header-elements">Get</h1>
      <h1 class="about-header-elements">to</h1>
      <h1 class="about-header-elements">know</h1>
      <h1 class="about-header-elements">me</h1>
      <h1 class="about-header-elements">as a</h1>
      <h1 class="about-header-elements">human</h1>
    </div>
  </div>
</div>