.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e2a38;
  height: 100vh;
  width: 100vw;
}


/* ////////////////////////////////////////hedear elements///////////////////////////////////////// */
.about-header-elements {
  font-size: 5em;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.about-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 22vw;
  left: 3vw;
}

.about-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  padding: 0px 0px 0px 0px;
  width: 29vw;
}
/* ////////////////////////////////////////mat card elements///////////////////////////////////////// */

.about-card{
  height: 73%;
  width: 50%;
  animation: cardFadeIn 2s cubic-bezier(0.5, -0.005, 0.2, 1)  forwards;
}

.about-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.about-img{
  border-radius: 50%;
  top: 2%;
}

.mat-card-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin: 80px 0px 40px 0px;
}

.btn{
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e) ;
  color: white;
}

.p-style{
  font-size: 14px;
  line-height: 1.6em;
  text-align: justify;
  margin-top: 8px;
}

.text-box{
  width: 90%;
  text-align: center;
}

.video-box{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 90%;
  height: 80%;
  margin-top: 20px;
  background-color: aliceblue;
  
}

.aboutBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.myPersonality{
  background-image: url('https://lh3.googleusercontent.com/9judXXKmKMjx-8bbl5wseBz0cAOZXk5fgBbLx1rmKA3F_jYU_BASGvWIM9uK0BFMikEyHyCDIMtBLNFEBw2itK3TQcSC25Gnq3WArlS6NNl_kZ5u75xtsJIwBOZxOWDsKtKlFEJoQqgaXUCAQ1LI80GUN_RabQmphE_OQ48xfkLGasdJDMjyufPVer4215A4ExGEwC822qHnDfNRhP4XlulnwJnTTHJOw6_D0iyrHufNO30zxaclcjgNAmDEza5xYs4Twkb8C9s5FYKvYlGJELKsqfGMo9LCCkr5XyhCcyBKbBDjsx-VVtocrJWtuMPIrsT1ds5XdyM1B8wYKNckh3bcIlFDehbo5ixEsHt7ElDX0EVeuC01sX52V1d3WNyBnQ-qVgJRS8I1bVLB5c3HAA5dD0yMatyupaUc_EeqIgiNBruJ5iF9jIv5GFOo9GBXTmcDgG2WfEQGN87Yv_52WY_s92lvnljL035lXM-S9Rl7Oj1fGnfODe5dssj5YLN12Q6mu1CK24FsEvlfyOzWh064kEB4ffw_72CQ_RNVFwB_hB1mT5nru2eJx8M5R-OnpK13nIcOlAXoAeYWOyuyvaagZOK5Lng6z3Woz5AgxpqlOYkFYe0EABPpQx8Iv5aKu99KyWHFnhopzWGvXELpsAp2YJpHf3Q=w1456-h969-no');
  background-size: cover;
  background-position: 100% 5%;
}

.myStory{
  background-image: url('https://lh3.googleusercontent.com/i_GzhsbNijZPygyjyL3v0w5LU7Po-Tbyujjdzam8DddJD_Dm5npwBeqFYhosNfNQ3I_ah-BAdtlgNEeOk2wXiWW6ZVGnOJ6pqmyc4cCxCVI2PLua3MO-JrAz6M45VP24L03eVlxlJPZtE-0qhgp-9umAZCSRpK0T_0T-NGLuULdPPz-WdIAq3BXTq7tXa3DSPGGlAHEdhMNMJq1JM915r7lcDk3u-ynyBdfix1it2oKUwJdP0KYiNefCXka65rMYGSoiIEfQ6g0akXtjqGVrDsPG0bE6SkJRRtkWZ-hjfwp4uJN6mQAtYHqgzQeHqg4kV2B_38wk_cCYyrGdBi4SbiIczaONFgDnTLl-AQY1hVNS9IZB5_Itc7fPTpxTnc22uqA_kYdgmwxWPZid03Xb9lR2YHVWKGCQtyq-ZaP6BCL88-pPJ5B19O8jgg9TpB13ZDFL_K_IErxVzpdx2N3XAEMANtxkplZrloy4kEory8m_wzXdlc3mZlebgI1bNp6mB0lDEwYAEtVhGqOGrmcNG6sIPg3mBdxckV4_KIYnbXrPbdn33dCxe20SHYt663L0dhSNA7dlBA0ttl_1C7wAbWC6jg4nzLNTpDx3W9riISEc_mK9C7erau6J4P25iXImvr1RQXIBdR1weSY2cxYK7rB7BYSjPUQ=w646-h969-no');
  background-size: cover;
  background-position: center;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .about-header{
      display: none;
    }
    .about-card{
      width: 95%;
      height: 90%;
      padding: 0;
      animation: none;
    }
    .about-content{
      padding: 0;
      height: 95%;
      width: 100%;
      justify-content: center;
    }
    .btn{
      width: 120px;
      height: 40px;
    }
    
}


















/* ////////////////////////////////////////vertical line animation///////////////////////////////////////// */
.vr-line {
  width: 5px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    repeat-y;
  background-size: 400% 400%;
  left: 2vw;
  animation: animateLineVR 2s cubic-bezier(0.5, -0.005, 0.2, 1) 0.7s forwards,
    gradientBGvr 9s cubic-bezier(0.5, -0.005, 0.2, 1) infinite;
}

@keyframes animateLineVR {
  0% {
    height: 0;
  }
  100% {
    height: 600px;
  }
}

@keyframes gradientBGvr {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 0%;
  }
}


@keyframes cardFadeIn {

  0% {
    opacity: 0;
    margin-left: 2vw;
    /* height: 80vh;
    width: 30vw; */
  }
  100% {
    opacity: 1;
    margin-left: 5vw;
    /* height: 90vh;
    width: 40vw; */
  }

}