<div class="container">
  <div class="about-header">
    <div class="vr-line"></div>
    <div class="about-header-wrapper">
      <h1 class="about-header-elements">Get</h1>
      <h1 class="about-header-elements">to</h1>
      <h1 class="about-header-elements">know</h1>
      <h1 class="about-header-elements">me</h1>
      <h1 class="about-header-elements">as a</h1>
      <h1 class="about-header-elements">human</h1>
    </div>
  </div>
  <mat-card class="mat-elevation-z16 about-card">
    <section id="about" class="about-content">
      <img mat-card-lg-image src="https://lh3.googleusercontent.com/LXQiqJQxlokVtIisM1vSWcP9WN0TG1aeiClQ_kz8AnihXZDpTeK27o0LYByE8xivWz5vdUi6fPmBXfWcPiiBTZIPDojMbBcuLu-_QcFJEFOC5EsP2b2WE4NB343CiFl_CW4h_T79Mh9GYkkQ7_UtkbzcN55w3oXCvShYTMpeqCPsqXkyeDkcb9MWYR6Bu1Aa1aAxC8ruUaGRflexBtnmXRVwustuHArv4gwop3K-ZRTjvx4iF7bFpeUcbxLh_HwPXpHA9oFXpcc3eLwCrxqELYJTlNmqIxSfUh__gQNtPDxjA8sowWGTCbnS78QhbB5uxqY5iijqOvpwRqMHZMbSzDaFvmQ2QXb6rar2eB8PkmNtR40NeCyc9ZfO_Gmjka33CzANxmJrSDZts0pbZZYPD_fzkSZ1ZjqhiCkbvIGjoWCF9irpWM8glccE_qharDH886YBvl6Rw2k5_eEo3UqSnrw_vXH-A6pp3l5fqGVK8IGepuXya28IxNbdtRoECeG0J4i0hfJzlJuiMpsf3VFc5I-OMgW9r4Lak_fcvunC2m8i7Ff1SHBJrDzNvfhL-E5SdeTR3Bfj8vwXPS9TPrWPtgelgcBnZBihfm2fCA_jrA3F1iQQ6L-y32nIVom-4ewe1uFEGXF26slc7T2z9J25xl9t=w895-h969-no"
        alt="Photo of chiheb bouzid" class="about-img mat-elevation-z8">

      <mat-card-content class="mat-card-content">
        <div class="text-box">
          <h2>Fun facts about me</h2>
          <p class="p-style">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.The Shiba Inu is the smallest
            of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with
            mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </div>
      </mat-card-content>
      <div class="video-box">
        <div class="myStory aboutBox">
          <button mat-raised-button class="btn" (click)="openVideoDialog()">My Story</button>
        </div>
        <hr>
        <div class="myPersonality aboutBox">
          <button mat-raised-button class="btn" (click)="openPersonalityDialog()">My Personality</button>
        </div>
      </div>
    </section>

  </mat-card>
</div>